<%- include('partials/header.ejs') %>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div id="calendar-nanny"></div>
            </div>
            <div class="swiper-slide">
                <div class="profil-container">
                    <div class="user-profil blue-shadow">
                        <div class="profile-picture-container">
                            <img class="profile-picture" src="/public/uploads/<%= user.picture %>"
                                alt="Profile Picture">
                        </div>
                        <div class="profile-text-container">
                            <h3 class="welcome-profil"> Bienvenue <%= user.first_name %>
                                    <%= user.name %>
                            </h3>
                            <button class="open-modal btn-profile" data-modal="create-activity-modal">Ajouter une
                                activité</button>
                            <button class="open-modal btn-profile" data-modal="link-modal">Ajouter une famille</button>
                            <button class="open-modal btn-profile" data-modal="profile-user-modal">voir mon
                                profil</button>
                        </div>
                    </div>
                    <div id="children-list-nanny" class="children-list">
                        <% if (!children || children.length===0) { %>
                            <p class="no-child-text"> Vous n'avez pas encore d'enfant lié à votre compte </p>
                            <% } else { %>
                                <% for (const child of children) { %>
                                    <div data-modal="profile-children-modal" data-child-id="<%= child.child_id %>"
                                        data-child-picture="<%= child.child_picture %>"
                                        data-child-name="<%= child.child_name %>"
                                        data-child-first-name="<%= child.child_first_name %>"
                                        data-child-birthday="<%= child.child_birthday %>"
                                        data-child-sexe="<%= child.child_sexe %>"
                                        data-child-description="<%= child.child_description %>"
                                        data-parent-first-name="<%= child.parent_first_name %>"
                                        data-parent-name="<%= child.parent_name %>"
                                        class="children-profil <% if (child.child_sexe === 'M') { %> is-a-boy <% } else { %> is-a-girl  <% } %> <% if (child.child_sexe === 'M') { %> pink-shadow <% } else { %> blue-shadow  <% } %>">
                                        <div class="children-picture-container">
                                            <img class="children-picture"
                                                src="/public/uploads/<%= child.child_picture %>"
                                                alt="Photo de <%= child.child_first_name %>">
                                        </div>
                                        <div class="children-text-container">
                                            <p class="text-children-profil">
                                                <%= child.child_first_name %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="suggests-container">
                    <% if (!parents || parents.lenght===0) { %>
                        <p class="text-parent-nanny-suggest">Vous n'avez pas encore de parent lié à votre compte</p>
                        <% } else { %>
                          <form class="form suggest" action="/nanny/suggest" method="POST" enctype="multipart/form-data">
                            <div class="form-item">
                              <label class="text-parent-nanny-suggest" for="suggestion">Envoyer une suggestion à un parent</label>
                              <textarea name="title" id="suggestion" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-item selector-list-parent">
                                <label for="select-parent">Choisir un parent :</label>
                                <select name="parentId" id="select-parent">
                                    <% for (const parent of parents) { %>
                                  <option value="<%= parent.id %>"><%= parent.name %> <%= parent.first_name %></option>
                                  <% } %>
                                </select>
                              </div>
                            <input type="submit" value="Envoyer" class="submit">
                          </form>
                          <% } %>
                            <div class="some-suggests-container">
                              <% if (!suggests || suggests.length===0) { %>
                                <p class ="no-suggests"> Vous n'avez pas encore de suggestions </p>
                                <% } else { %>
                                  <% let index=0; %>
                                    <% for (const suggest of suggests) { %>
                                      <div
                                        class="suggestion-container  <% if (index % 2 === 0) { %>blue-shadow<% } else { %>pink-shadow<% } %>">
                                        <p class="suggestion-date">
                                          <%= suggest.suggest_date %>
                                        </p>
                                        <p class="suggestion-text">
                                          <%= suggest.title %>
                                        </p>
                                      </div>
                                      <% index++; %>
                                        <% } %>
                                          <% } %>
                            </div>
                      </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    <!-- modal to get a children -->
    <aside class="modal profile-children-modal">
        <i class="fas fa-times btn-close"></i>
        <div class="modal-profile-container ">
            <div class="modal-profile-picture-container shadow-blue">
                <img id="child-picture" class="profile-picture" alt="Profile Picture">
            </div>
            <div class="profile-item">
                <p>Nom: <span id="child-name"></span>
                </p>
            </div>
            <div class="profile-item">
                <p>Prénom: <span id="child-first-name"></span>
                </p>
            </div>
            <div class="profile-item">
                <p>Date de naissance: <span id="child-birthday"></span>
                </p>
            </div>
            <div class="profile-item infos-container">
                <p>Infos Complémentaires:</p>
                <p class="infos-complementaire"><span id="child-description"></span>
                </p>
            </div>
            <div class="profile-item">
                <p>Son Parent: <span id="parent-first-name"></span> <span id="parent-name"></span>
                </p>
            </div>
        </div>
    </aside>
    <!-- modal to get the profil's user -->
    <aside class="modal profile-user-modal">
        <i class="fas fa-times btn-close"></i>
        <div class="modal-profile-container ">
            <div class=" modal-profile-picture-container shadow-blue">
                <img class="profile-picture" src="/public/uploads/<%= user.picture %>" alt="Profile Picture">
            </div>
            <div class="profile-item">
                <p>Nom: <%= user.name %>
                </p>
            </div>
            <div class="profile-item">
                <p>Prénom: <%= user.first_name %>
                </p>
            </div>
            <div class="profile-item">
                <p>Email: <%= user.email %>
                </p>
            </div>
            <div class="profile-item">
                <p>Adresse: <%= user.address %>
                </p>
            </div>
            <div class="profile-item">
                <p>Code postal: <%= user.zip_code %>
                </p>
            </div>
            <div class="profile-item">
                <p>Ville: <%= user.city %>
                </p>
            </div>
            <div class="button-container">
                <button class="open-modal btn-handler-profile modify-profile" data-modal="modify-modal">Modifier mon
                    profil</button>
                <button class="open-modal btn-handler-profile delete-profile" data-modal="delete-modal">Supprimer mon
                    profil</button>
            </div>
        </div>
    </aside>
    <!-- Modal to modify the profil's user -->
    <aside class="modal modify-modal">
        <i class="fas fa-times btn-close"></i>
        <div class="form-container">
            <form class="form modify-form" action="/nanny/profile" method="POST" enctype="multipart/form-data">
                <div class="form-item image-preview">
                    <label for="picture-register">Photo :</label>
                    <input type="file" accept=".png, .jpg, .jpeg" id="picture-register" name="picture">
                    <!-- <img id="photo-preview-user" src="#" alt="Aperçu de la photo"> -->
                </div>
                <div class="form-item">
                    <label for="name-user">Nom :</label>
                    <input type="text" id="name-user" name="name" placeholder="<%= user.name %>">
                </div>
                <div class="form-item">
                    <label for="first_name-user">Prénom :</label>
                    <input type="text" id="first_name-user" name="first_name" placeholder="<%= user.first_name %>">
                </div>
                <div class="form-item">
                    <label for="email">Adresse e-mail :</label>
                    <input type="email" id="email" class="email" name="email" placeholder="<%= user.email %>">
                    <span class="error-form is-valid" id="email-error">placeholder</span>
                </div>
                <div class="form-item">
                    <label for="oldPassword">Ancien mot de passe :</label>
                    <input type="password" id="oldPassword" name="oldPassword">
                </div>
                <div class="form-item">
                    <label for="password">Nouveau mot de passe :</label>
                    <input type="password" id="password" name="password">
                    <span class="error-form is-valid" id="password-error">Veuillez saisir un mot de passe valide : 8
                        caractère minimum, au moins 1 majuscule et un caractère spécial</span>
                </div>
                <div class="form-item">
                    <label for="passwordConfirmation">Confirmez votre mot de passe :</label>
                    <input type="password" id="passwordConfirmation" name="passwordConfirmation">
                    <span class="error-form is-valid" id="passwordConfirmation-error">placeholder</span>
                </div>
                <div class="form-item">
                    <label for="address">Adresse :</label>
                    <input type="text" id="address" name="address" placeholder="<%= user.address %>">
                </div>
                <div class="form-item">
                    <label for="zip_code">Code postal :</label>
                    <input type="text" id="zip_code" name="zip_code" placeholder="<%= user.zip_code %>">
                    <span class="error-form is-valid" id="zip_code-error">placeholder</span>
                </div>
                <div class="form-item">
                    <label for="city">Ville :</label>
                    <input type="text" id="city" name="city" placeholder="<%= user.city %>">
                </div>
                <input type="submit" value="Modifier mon profil" class="submit">
            </form>
        </div>
    </aside>
    <!-- modale to delete the user's profile -->
    <aside class="modal delete-modal">
        <i class="fas fa-times btn-close"></i>
        <div class="form-container">
            <form class="form delete-form" action="/nanny/profile/delete" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%= user.id %>">
                <p class="text-delete">Vous êtes sur le point de supprimer votre compte définitivement. Appuyer sur
                    Supprimer pour confirmer</p>
                <input type="submit" value="Supprimer" class="submit">
            </form>
        </div>
    </aside>
    <!-- modale to link parent to nanny's account -->
    <aside class="modal link-modal">
        <i class="fas fa-times btn-close"></i>
        <div class="form-container">
            <form class="form link-form" action="/nanny/link" method="POST" enctype="multipart/form-data">
                <div class="form-item">
                    <label id="uniqueId-label" for="uniqueId">Veuiller rentrer la clé de liaison communiquée par le
                        parent</label>
                    <input type="text" name="uniqueId" id="uniqueId">
                </div>
                <input type="submit" value="Ajouter" class="submit">
            </form>
        </div>
    </aside>
    <!-- modale to create an activity -->
    <aside class="modal create-activity-modal">
        <i class="fas fa-times btn-close"></i>
        <div class="form-container form-container-center">
            <form class="form create-activity-form"  action="/nanny/activity" method="POST"
                enctype="multipart/form-data">
                <div class="form-item form-item-activity">
                    <label for="title">Titre :</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-item form-item-activity">
                    <label for="description-activity">Description/consignes :</label>
                    <textarea name="description" id="description-activity" cols="30" rows="10"></textarea>
                </div>
                <div class="form-item form-item-activity">
                    <label for="date">Date :</label>
                    <input type="date" name="date" id="date" value="<%= (new Date()).toISOString().split('T')[0] %>"
                        required>
                </div>
                <div class="hour-container">
                <div class="form-item form-item-activity">
                    <label for="begin">Début :</label>
                    <input type="time" id="begin" name="begin" required>
                </div>
                <div class="form-item form-item-activity">
                    <label for="end">Fin :</label>
                    <input type="time" id="end" name="end" required>
                </div></div>
                <div class="form-item form-item-activity">
                    <label for="color">Couleur :</label>
                    <input type="color" id="color" name="color" list="color-options" required>
                    <datalist id="color-options">
                        <option value="#902923">Rouge</option>
                        <option value="# 585123">Vert</option>
                        <option value="#0000FF">Bleu</option>
                        <option value="#BC3908">Orange</option>
                        <option value="#220901">Marron</option>
                    </datalist>
                </div>
                <div class="form-item form-item-activity">
                    <label for="category">Catégorie :</label>
                    <input type="text" id="category" name="category" required>
                </div>
                <input type="submit" value="Ajouter l'activité" class="submit">
            </form>
        </div>
    </aside>
    <!-- modale for event on click on event's calendar -->
    <div id="eventModal" class="modal-event">
        <div class="modal-content">
            <i class="fas fa-times" id="btn-close-event"></i>
            <h3 id="eventTitle"></h3>
            <p id="eventDescription"></p>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/locales/fr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js"></script>
    <script src="/js/dashboard-nanny.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/swipper.js"></script>
    <script src="/js/calendar-nanny.js"></script>
    <%- include('partials/footer.ejs') %>