<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/userProfil.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <title>Easy Nanny | Mon Profile</title>
</head>

<body>
    <header>
        <div class="logo">
            <img class="img_logo" src="/images/Logo-removebg-preview.png" alt="Logo Easy Nanny">

        </div>
        <div class="burger-menu">
            <div class="burger-menu-icon">&#9776;</div>
            <ul class="burger-menu-list">
                <li><a href="/assets/public/integration/html/index.html">Accueil</a></li>
                <li><a href="/assets/public/integration/html/userProfil.html">Mon profil</a></li>
                <li><a href="/assets/public/integration/html/dashboard.html">Mon tableau de bord</a></li>
                <li><a href="/assets/public/integration/html/suggest.html">Suggestions</a></li>
                <li><a href="/assets/public/integration/html/diary.html">Journal de suivi</a></li>
                <li><a href="#">Deconnexion</a></li>
            </ul>
        </div>
    </header>

    <div class="contener">
        <aside class="left_side">
            <div class="profil_info">
                <img class="profil_img" src="/images/Luimar_Cavani.JPG" alt="Photo de profile">
                <p class="profil_name">Luimar Cavani</p>
            </div>
            <!-- Ajout d'un conteneur autour du bouton  pour les écrans de moniteur -->
            <div class=" delete-btn-container">
                <button id="delete-btn" class="d-none">Supprimer mon compte</button>
            </div>
            <div class="d-none" id="modalYesNo">
                <p id="modalText">Etes-vous sûr de vouloir supprimer votre compte?</p>
                <button id="yes-btn">Oui</button>
                <button id="no-btn">Non</button>
            </div>
        </aside>

        <!------------CLEF DE LIAISON -------------->
        <aside class="right_side">
            <div class="container-clef">
                <label for="clef-de-liaison">Clef de liaison:</label>
                <input type="text" id="clef-de-liaison" class="clef-de-liaison" placeholder="Clef de liaison" />
                <span id="afficher-clef" class="afficher-clef" style="display:none;">clef vide</span>
            </div>
        </aside>
        <!--------------  MODIF PROFIL PARENTS  --------------->
        <!------------  INFORMATION NON SENSIBLE  -------------->
        <div class="container-parent">

            <div class="edit-parent">
                <h1>Mon profile</h1>
                <span id="edit-btn" class="edit-icon" style="cursor:pointer;">
                    <span class="material-icons">
                        edit
                    </span>
                </span>
            </div>

            <form id="form" action="/parent/profile" method="POST">


                <button type="submit" id="save-btn" style="display:none;">Enregistrer</button>

                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" name="name" value="<%=user.name%>" readonly>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" name="first_name" value="<%=user.first_name%>"
                        readonly>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control" id="adresse" name="address" value="<%=user.address%>"
                        readonly>
                </div>
                <div class="form-group">
                    <label for="code_postal">Code postal</label>
                    <input type="text" class="form-control" id="code_postal" name="zip_code" value="<%=user.zip_code%>"
                        readonly>
                </div>
                <div class="form-group">
                    <label for="ville">Ville</label>
                    <input type="text" class="form-control" id="ville" name="city" value="<%=user.city%>" readonly>
                </div>


                <!----------  MODIF PROFIL PARENTS ----------->
                <!------------INFORMATION SENSIBLE -------------->

                <div class="form-group d-none" id="change-password-form">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%=user.email%>" readonly>
                </div>
            </form>


            <form>
                <div class="form-group" action="/parent/profile" method="POST">
                    <label for="old-password">Ancien mot de passe:</label>
                    <input type="password" class="form-control" id="old-password" name="old-password">
                </div>
                <div class="form-group">
                    <label for="new-password">Nouveau mot de passe:</label>
                    <input type="password" class="form-control" id="new-password" name="new-password">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirmation de mot de passe:</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password">
                </div>
                <div class="update-btn">
                    <button type="button" class="btn btn-primary" id="toggle-password-form">Modifier mot de
                        passe</button>
                </div>
            </form>
        </div>

        <!-------------- FORMULAIRE CREATION ENFANT ------------->

        <div class="container-add-child">

            <div class="add-child">
                <div class="add-child-header">
                    <h1>Ajouter des enfants</h1>
                    <span id="add-child-button" class="add-icon" style="cursor:pointer;">
                        <span class="material-icons">
                            add
                        </span>
                    </span>
                </div>


                <div id="add-child-form" style="display: none;">
                    <form action="/parent/profile" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="name">Nom:</label>
                            <input type="text" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Prénom:</label>
                            <input type="text" name="first_name" required>
                        </div>
                        <div class="form-group">
                            <label for="sexe">Sexe:</label>
                            <select name="sexe" required>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="birthday">Date de naissance:</label>
                            <input type="date" name="birthday" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="picture">Photo: </label>
                            <input type="file" name="picture">
                        </div>

                        <button type="submit" class="btn-add-child">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
            <!-------------- MODIF ENFANT ------------->
            <div class="container-edit-child">

                <div class="edit-child">
                    <h1>Mes enfants</h1>
                    <span id="edit-btnChild" class="edit-icon" style="cursor:pointer;">
                        <span class="material-icons">
                            edit
                        </span>
                    </span>
                </div>

                <form id="formChild" action="/parent/profile" method="POST">


                    <button type="submit" id="save-btnChild" style="display:none;">Enregistrer</button>

                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" name="nom" value="<%=children[0].name%>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" name="prénom" value="<%=children[0].first_name%>"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Date de naissance</label>
                        <input type="date" class="form-control" name="Date de naissance"
                            value="<%=children[0].birthday%>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="sexe">Garçon</label>
                        <input type="radio" class="form-control" name="sexe" value="<%=children[0].sexe%>" readonly>
                        <label for="sexe">Fille</label>
                        <input type="radio" class="form-control" name="sexe" value="<%=children[0].sexe%>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="comments">Commentaire</label>
                        <input type="textarea" class="form-control" name="description"
                            value="<%=children[0].description%>" readonly>
                    </div>
                </form>

                <div class=" delete-btn-container">
                    <button id="delete-btn">Supprimer mon compte</button>
                </div>
                <div class="d-none" id="modalYesNo">
                    <p id="modalText">Etes-vous sûr de vouloir supprimer votre compte?</p>
                    <button id="yes-btn">Oui</button>
                    <button id="no-btn">Non</button>
                </div>

            </div>

        
    </div>
    <footer>
        <p class="footer_mention"> &copy; Easy Nanny - 2023</p>
        <p class="footer_mention"> Mentions légales</p>
        <p class="footer_mention"> Condition général</p>
    </footer>
    <script src="/integration/javascript/burger.js"></script>
    <script src="/integration/javascript/userProfil.js"></script>
</body>

</html>